<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ヒヤリハット一覧</title>
</head>
<body>
    <h1>ヒヤリハット一覧</h1>
    <table border="1">
        <thead>
            <tr>
                <th>題名</th>
                <th>工程</th>
                <th>危険度</th>
                <th>詳細</th>
                <th>削除</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
            <tr>
                <td>{{ post.title }}</td>
                <td>{{ post.process }}</td>
                <td>{{ post.danger_level }}</td>
                <td><a href="{% url 'post_detail' post.id %}">詳細</a></td>
                <td><a href="{% url 'delete_post' post.id %}">削除</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="{% url 'index' %}">ヒヤリハット投稿へ戻る</a>
</body>
</html>


